* {
  box-sizing: border-box;       
}

dialog {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 0;
  background: none;
  max-width: unset;
  max-height: unset;
  opacity: 0;
  animation: fade-in 400ms ease-out forwards;
}

dialog.closed {
  animation: fade-out 400ms ease-out forwards;
}

::backdrop {
  background: rgba(0 0 0 / 60%);
  backdrop-filter: blur(3px);
  opacity: 0;
  animation: fade-in 400ms ease-out forwards;
}

dialog.closed::backdrop {
  animation: fade-out 400ms ease-out forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}


#close {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: var(--button-color, rgba(255 255 255 / 70%));
}

#close:hover {
  color: var(--button-hover-color, rgba(255 255 255 / 100%));
}

#close svg {
  display: block;
  width: var(--button-width, 50px);
}

#content {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
  overflow-y: clip;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  scrollbar-width: none; 
}

#content::-webkit-scrollbar { 
  display: none;
}

.slide-wrapper {
  flex: 0 0 100%;
  height: 100%;
  scroll-snap-stop: always;
  scroll-snap-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.slide-wrapper > * {
  width: auto;
  height: auto;
  max-width: var(--slide-size, 100%);
  max-height: var(--slide-size, 100%);
  border: var(--slide-border);
}

#next, #previous {
  position: absolute;
  top: 50%;
  width: var(--button-width, 50px);
  transform: translateY(-50%);
  font-size: 3rem;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  color: var(--button-color, rgba(255 255 255 / 70%));
}

#previous {
  left: 16px;
}

#next {
  right: 16px;
}


#next:hover, #previous:hover {
  color: var(--button-hover-color, rgba(255 255 255 / 100%));
}
